<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/animation-home"
          routerLinkActive="active"
          >Home</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/animation-basics"
          routerLinkActive="active"
          >Basics</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/animation-contained"
          routerLinkActive="active"
          >Contained</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/animation-advanced"
          routerLinkActive="active"
          >Advanced</a
        >
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>
<div
  class="container page mt-5"
  [@routerAnimations]="prepareRouteTransition(outlet)"
>
  <router-outlet #outlet="outlet"></router-outlet>
</div>
